.page-wrapper{
    margin: 0 !important;
}

#view_cart {
    position: relative;
    display: inline-block;
  }
  
  
.cart-number {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(236, 29, 29);
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
}

.cart-quantity {
  font-size: 14px;
  line-height: 1;
}

.tooltip-inner {
  color: #ffffff !important;
}

.carousel-item {
  transition: none !important;
}